@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    text-align: center;
    background-color: #212f3c;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 100%;
}

h1 {
    position: absolute;
    top: 0.5rem;
    background: #0a72c5;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
}

.input {
    background: #fff;
    color: rgb(73, 71, 71);
    border: none;
    outline: none;
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;
}

select {
    margin-left: 0.4rem;
    background: #212f3c;
    border: none;
    color: #fff;
    padding: 0.6rem;
    border-radius: 0.5rem;
    outline: none;
}

.equals {
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
}
.main_div{
    position: relative;
    height: 400px;
    width: 400px;
    background: #529ef8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
}
 @media(max-width : 455px){
     .main_div{
         width: 370px;
     }
} 
 @media(max-width : 390px){
     .main_div{
         width: 340px;
     }
} 
 @media(max-width : 373px){
     .main_div{
         width: 300px;
     }
     html{
         font-size: 60%;
     }
} 

 @media(max-width : 310px){
     .main_div{
         width: 280px;
     }
     html{
         font-size: 70%;
     }
} 
